po-export2.json
[
    {
        "id": "29ec7f5f.9a33d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false
    },
    {
        "id": "d7be010.5de4c",
        "type": "ui_template",
        "z": "29ec7f5f.9a33d",
        "group": "2b11706.56fe79",
        "name": "CSV import",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n<!--<form id=\"xSubmit\" action=\"/csv-import\" method=\"post\" enctype=\"multipart/form-data\">-->\n    <label class=\"md-secondary md-raised md-button bring-forward\" ng-click=\"send({payload:action()})\" md-ink-ripple for=\"xFile\">\n          <span>Select File</span>\n    </label>\n    <input type=\"file\" accept=\".csv\" name=\"xFile\" id=\"xFile\" class=\"file-input-hide\" >\n<!--</form>-->\n </div>\n<script>\n\nfunction isEmpty(str) {\n    return (!str || 0 === str.length);\n}\n\n(function() {\n    (function(scope) {\n        document.getElementById(\"xFile\").onchange = function(e) {\n            // console.log(e.target.files[0]);\n            var fr = new FileReader();\n            fr.onload = function(e) {\n                // debugger;\n                if(!isEmpty(e.target.result)) {\n                    scope.send({payload: e.target.result});\n                }\n            };\n            fr.readAsText(e.target.files[0])\n        };\n    })(scope);\n})();\n\n</script>\n<style>\n .file-input-hide {\n     position: relative;\n     left: -6em;\n }\n .bring-forward {\n     z-index:10;\n }\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "835e22ea.9a32e",
                "86ce36c.c6662c8"
            ]
        ]
    },
    {
        "id": "d45ae7ed.073068",
        "type": "csv to json ext",
        "z": "29ec7f5f.9a33d",
        "name": "",
        "version": "0.1",
        "source": "payload",
        "delimiter": ",",
        "quote": "\"",
        "escape": "\"",
        "ignoreEmpty": true,
        "checkType": false,
        "trim": false,
        "noheader": false,
        "includeColumns": "",
        "headers": "",
        "debug": false,
        "x": 930,
        "y": 160,
        "wires": [
            [
                "6aac33e8.babf4c",
                "48a0b2fb.5cdacc"
            ]
        ]
    },
    {
        "id": "48a0b2fb.5cdacc",
        "type": "debug",
        "z": "29ec7f5f.9a33d",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "payload",
        "x": 1150,
        "y": 260,
        "wires": []
    },
    {
        "id": "6aac33e8.babf4c",
        "type": "mqtt out",
        "z": "29ec7f5f.9a33d",
        "name": "",
        "topic": "csv-input",
        "qos": "",
        "retain": "",
        "broker": "bc7b7552.4d6608",
        "x": 1120,
        "y": 160,
        "wires": []
    },
    {
        "id": "a7e19afd.c0b898",
        "type": "ui_chart",
        "z": "29ec7f5f.9a33d",
        "name": "",
        "group": "3e9d9cf0.459894",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 870,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e6c77f90.9d14b",
        "type": "mqtt in",
        "z": "29ec7f5f.9a33d",
        "name": "",
        "topic": "results",
        "qos": "2",
        "broker": "bc7b7552.4d6608",
        "x": 650,
        "y": 460,
        "wires": [
            [
                "a7e19afd.c0b898",
                "2cbeb01d.ce97b"
            ]
        ]
    },
    {
        "id": "2cbeb01d.ce97b",
        "type": "debug",
        "z": "29ec7f5f.9a33d",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "835e22ea.9a32e",
        "type": "debug",
        "z": "29ec7f5f.9a33d",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "86ce36c.c6662c8",
        "type": "function",
        "z": "29ec7f5f.9a33d",
        "name": "filter empty",
        "func": "if(msg.payload !== undefined && msg.payload.length > 0) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 160,
        "wires": [
            [
                "d45ae7ed.073068"
            ]
        ]
    },
    {
        "id": "2b11706.56fe79",
        "type": "ui_group",
        "z": "",
        "name": "Import CSV",
        "tab": "33e223a9.0bdd0c",
        "order": 1,
        "disp": true,
        "width": "10"
    },
    {
        "id": "bc7b7552.4d6608",
        "type": "mqtt-broker",
        "z": "",
        "broker": "172.17.0.6",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    },
    {
        "id": "3e9d9cf0.459894",
        "type": "ui_group",
        "z": "",
        "name": "Display Parameters",
        "tab": "33e223a9.0bdd0c",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "33e223a9.0bdd0c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 1
    }
]
